<h3>Edit User!</h3>

<%= simple_form_for @user do |u| %>
	

  <div>
	<%= u.input :first_name %>
  </div>

  <div>
	<%= u.input :email %>
  </div>

   <div>
	<%= u.input :password, label: 'Password' %>
  </div>

  <div>
	<%= u.input :password, label: 'Password Confirmation' %>
  </div>			

  </div>
	<%= u.button :submit %>
  </div>

<% end %>


<%= link_to "Back to the list!", users_path %>