<h3>Edit User!</h3>

<%= simple_form_for @user do |u| %>
	<%if @user.errors.any? %>
		<div class="error_messages">
			<h2>Form is invalid</h2>
			<ul>
			  <% @user.errors.full_messages.each do |message| %>
			  <li> <%= message %></li>
			  <% end %>
			</ul>
		</div>
	<% end %>

  <div>
	<%= u.input :first_name %>
  </div>

  <div>
	<%= u.input :email %>
  </div>

  <div>
	<%= u.input :password_digest, label: 'Password' %>
  </div>

  <div>
	<%= u.input :passoword_digest, label: 'password jimbo confirmation' %>
  </div>
	
	     <br>

  </div>
	<%= u.button :submit %>
  </div>

<% end %>


<%= link_to "Back to the list!", users_path %>