<h3>Sign Up!</h3>
<%= link_to "Home", root_path %>

<%= simple_form_for @user do |u| %>
	

  <div>
	<%= u.input :first_name %>
  </div>

  <div>
	<%= u.input :email %>
  </div>

   <div>
	<%= u.input :password_digest, label: 'Password' %>
  </div>

  <div>
	<%= u.input :password_digest, label: 'Password Confirmation' %>
  </div>			

  </div>
	<%= u.button :submit %>
  </div>

<% end %>



