<h1> <%= @user.name %> </h1>

<p> <%= @user.bio %> </p> 
<p> <%= @user.contact_info %> </p>

<%= link_to "back to the list", users_path %>

 <%= link_to "Edit #{@user.name}'s Information", edit_user_path(@user) %>
  <%= link_to "Delete #{@user.name}", :user, method: :delete, data: {confirm: "Are you sure you want to delete #{@user.name}? #{@user.name} is Magnificent!"} %>