
<div>
	<h1> <%= @user.name %> </h1>

	<p> <%= @user.category %> </p>
	<p> <%= @user.bio %> </p> 
	<p> <%= @user.contact_info %> </p>
</div>

  
<div>
	<h6> <%= @user.name %>'s Porftolio </h6>
	<%= link_to "View #{@user.name}'s Porftolio", user_albums_path(@user, @albums) %>
</div>

<%= link_to "back to the list", users_path %>

 <%= link_to "Edit #{@user.name}'s Information", edit_user_path(@user) %>
  <%= link_to "Delete #{@user.name}", :user, method: :delete, data: {confirm: "Are you sure you want to delete #{@user.name}? #{@user.name} is Magnificent!"} %>

  

	

