<h1> <%= @albums.name %>'s Porftolio </h1>

<%= link_to "create a new album", new_user_album_path %>
<%= link_to "Home", users_path %>

<% @albums.each do |album| %>
	
	<ul>
		<li>

			<div>
				<%= album.name %>
				<%= album.date %>
				<%= link_to "View", album_path(album) %>
			</div>

		</li>
	</ul>

<% end %>