<div class="container">
  <div class="row">
   <div class="col-xs-6 col-xs-offset-3">
	 <%= form_for @post do |f| -%>


		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class: "form-control" %>
		</div>


		<div class="form-group">
			<%= f.label :image %>
			<%= f.file_field :image, class: "form-control" %>
		</div>


		<div class="form-group">
			<%= f.label :link %>
			<%= f.text_field :link, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_field :description, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.select(:category, options_for_select([['Women', 'women'], ['Men', 'men'], ['Baby & Kids', 'kids'], ['Home', 'home']]), class: "form-control") %>
		</div>

		<div class="form-group">
			<%= f.submit 'Share' %>
		</div>

     <% end %>
   </div>
 </div>
</div>