

<div class="container">
    <div class="row">
      <% if current_user %>

      <div>Welcome, <%= current_user.first_name %>!</div>
    <% end %>
  <div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg %>
  <% end %>


  <%= logged_in? ? '' : link_to("Add New Magnificence", new_post_path) %>

 </div>

<!-- Big "Magnificent" at the top of the page-->
  <div class="feed header text-center center-block">
  <h1>The Magnificent<h1>

		  

		<div id="filters" class="button-group">
		  <button class="button is-checked" data-filter="*" id="test">show all</button>
		  <button class="button" data-filter=".women">Women</button>
		  <button class="button" data-filter=".men">Men</button>
		  <button class="button" data-filter=".kids">Baby & Kids</button>
		  <button class="button" data-filter=".home">Home</button>
		</div>

 </div>
  <!-- Current User's name Display -->


<div class="container" id="masonry-container">
  <div id="container" class="center-block"> 
    

    <!-- user posts -->
    <% @posts.each do |post| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(post.image.url(:tile), class: "post-index-tile"), post %>
        <p><%= link_to post.title, post, class: "main-page-post-title" %></p>
        </div>  
    <% end %>   
      

    <!-- Gilt API posts -->
    <% @gilt.gilt_search.each do |sale| %>  
      <div class="box panel panel-default <%= sale[:store] %>">
        <%= link_to image_tag(sale[:image_url], class: "post-index-tile"), sale[:sale_url], :target => "_blank" %>
        <p><%= link_to sale[:sale_name], sale[:sale_url], :target => "_blank", class: "main-page-post-title" %></p>

      </div>
    <% end %> 


    
  </div>  
</div>
    


	


