
<!-- Big "Magnificent" at the top of the page-->
	<header class="feed header"> The Magnificent </header>

   				<!-- Current User's name Display -->
	<% if current_user %>

		<div><%= current_user.first_name %></div>

	<% end %>



	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg %>
	<% end %>



	<%= logged_in? ? '' : link_to("Add New Magnificence", new_post_path) %>

<div class="container main">
		
<div id="container" class="feed col-xs-12">
		<% @posts.each do |post| %>
		<div class="item">
			
			<%= link_to image_tag(post.image.url), post %>
			<p class="main-page-post-title"><%= link_to post.title, post, class: "main-page-post-title" %></p>
			
			
		</div>
		<% end %>
	</div>

</div>

