

<div class="container main">
  	<div class="row">
  		<% if current_user %>

			<div>Welcome, <%= current_user.first_name %>!</div>
		<% end %>
 	<div>

	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg %>
	<% end %>


	<%= logged_in? ? '' : link_to("Add New Magnificence", new_post_path) %>

 </div>

<!-- Big "Magnificent" at the top of the page-->
	<div class="feed header text-center">The Magnificent</div>
	<!-- Current User's name Display -->


<div class="container">
	<div id="posts"> 
		<!-- Gilt API posts -->
		<% @gilt.search['sales'].each do |sale| %>	
			<div class="box panel panel-default">
				<%= link_to image_tag(sale["image_urls"]["315x295"][0]["url"]), sale["sale_url"] %>
				<p><%= link_to sale["name"], sale["sale_url"], class: "main-page-post-title" %></p>

			</div>
		<% end %>
		

		<!-- user posts -->
		<% @posts.each do |post| %>
			<div class="box panel panel-default">
				<%= link_to image_tag(post.image.url(:tile)), post %>
				<p><%= link_to post.title, post, class: "main-page-post-title" %></p>
	    	</div>	
		<% end %>	  
			
	</div>	
</div>
  	


