<div class="row post-heading">
	<h1 class="col-xs-6 col-xs-offset-4"><%= @post.title %></h1>
	<h3 class="col-xs-6 col-xs-offset-4"> By: <%= link_to(@post.user.first_name, user_path(@post.user_id), class: "post-show-link") %> </h3>
</div>

<div class="row">
		<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
		<!-- Please call pinit.js only once per page -->
		<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
</div>


<!-- Post Image -->
<div class="row col-xs-12 col-xs-offset-4">

	<%= image_tag @post.image.url(:post_pic) %>

</div>

<div class="row">
	<h5 class="col-xs-12 col-xs-offset-4"><%= @post.date_published %></h5>


		<div class="col-xs-12 col-xs-offset-4 text-left">
			<p><i>Link</i>: <%= link_to(@post.link, @post.link, :target => "_blank", class: "post-show-link") %></p>
		</div>

	<div class="col-xs-6 col-xs-offset-4 text-left post-description"> <%= @post.description %> </div>
<br>

</div>

<div class="col-xs-5 col-xs-offset-4 post-options">
	<% if current_user == @post.user %>

		<%= link_to "Edit", edit_post_path(@post), class: "post-show-link" %>

		<%= link_to "Destroy", post_path(@post), class: "post-show-link", method: :delete, data: { confirm: "This is probably pretty Maginificent, are you sure you want to delete it?" } %> 

		<%= link_to "Home", root_path, class: "post-show-link" %>

		
	<% end %>
		
		<div class='test-random'>
			<%= link_to 'Click for more Maginificence', post_path(@random_post), class: "post-show-link" %>
			<%= link_to image_tag(@random_post.image.url(:small)), post_path(@random_post) %>
			<!-- <p id='random-post-title'><%= link_to @random_post.title, post_path(@random_post) %></p> -->
		</div>

</div>


