<!DOCTYPE html>
<html>
<head>
  <title>MagnificentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= logged_in? ? link_to("Sign Up", new_user_path) + " | " + link_to("Log In", login_path) : link_to("Log Out", logout_path, method: :delete) %>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg %>
<% end %>

<%= yield %>

</body>
</html>
